/*===== RESET =====*/
* {
    margin: 0px;
    padding: 0px;
    font-size: 10px;

    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    line-height: 1; /*removes the default line-height styling that can interfere with precise absolute units.*/
}

p{
    /*p-tag override for vertical line*/
    margin: 0px;
    padding: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}
/*===== ========== =====*/


/*=============================================================================================================*/
/* DESKTOP BREAKPOINT                                                                                     */
/*=============================================================================================================*/
/*===== Bootstrap Alternatives =====*/
.header{
    padding: 0px;
    margin: 0px;
}

.header-row{
    padding: 10px 0px 10px 0px; /*Adding some vertical padding to the row to help with styling*/
}
/*===== ========== =====*/



/*===========================================*/
/*===== Nissan Styling =====*/
h3{
    font-weight: 300;
    font-size: 28pt;
    color:#eade5f;
    letter-spacing: 0;
    
    /*justify left,  can "inline" white color per element*/
}

h5{
    font-weight: 300;
    font-size: 16pt;
    color:#eade5f;
    letter-spacing: 0;
    
    /*justify left, can "inline" white color per element*/
}

h6{
    font-weight: 300;
    font-size: 14pt;
    color:#eade5f;
    letter-spacing: 0;
    
    /*justify left, can "inline" white color per element*/
}

.bodyGrey_1{
    font-weight: regular;
    font-size: 13pt;
    color: #5c5c5c;
    letter-spacing: 0;
    /*justify left or centered, paragraph spacing is 10(px?), leading */
}

.bodyRed_1{
    font-weight: regular;
    font-size: 11pt;
    color: #C3002F;
    letter-spacing: 0;
    /*justify left or centered, paragraph spacing is 10(px?), leading */
}

.passCriteria{
    padding-left: 40px;
}

.textLink{
    font-weight: regular;
    font-size: 14pt;
    color: #343434;
    letter-spacing: 0;
    /*"leading"/line-spacing is 17(?)*/
}

/*===== Nissan Logo =====*/
.logo{
    margin: 0px;
    padding-right: 0px;
    background-image: url("assets/IconBG_81x67.png");
    width: 81px;
    height: 67px;

}
.logo_spacer{
    padding: 0px;
    margin: 0px;
    width: 165px;
}
/*===== ========== =====*/

/*===== Vertical Border + "Title"*/
.title-styling{
    margin: 0px;
    padding: 0px;
    padding-top: 25px; /*This has to be set manually based on *logo height* as largest reference relative to text size, to center the title - somehow flex-wrap was interfering with "align-items: center"*/

    font-size: 17px;
    font-weight: 300;
}

.divider{
    margin-left: 20px;
    padding-left: 20px;
    border-left: solid 2px white;
    height: 67px;
    width: auto;
}
/*===== ========== =====*/

/*===== Main Content Alignment (DESKTOP) =====*/
.main-container{
    background-color: #EEEEEE;
}

.main-content-row-alignment{
    margin-left: 150px; /*-15px standard column padding!!! --> For alignment on the left hand side for the "card"*/
}

.main-content-background{
    background-image: url("assets/NissanBG_Red_1500x650.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 450px; /*Sets the height of the backgorund image*/

    min-width: 1280px;
    z-index: 25;
}
/*===== ========== =====*/

/*===== Card Styling =====*/
.lift-container{
    z-index: 50;
    display: block;
    position: absolute;
    top: 10%;
}

.card-column-gutters{
    padding: 0px 0px 0px 0px; /*This controls the spacing of the "visual" card on left and right in ****MOBILE**** view*/
}

.card-styling{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-content-align{
    padding-left: 40px;
    padding-right: 40px;
}

.nissanid_branding{
    margin-top: 40px;
    width: 87px;
    height: 7px;
    
    background-image: url("assets/Branding_83x7.png");
}
.nissanid_branding_undercard{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 87px;
    height: 7px;
    
    background-image: url("assets/Branding_83x7.png");
}

.field-styling{
    /*total height of element is roughly 35px*/
    width: 100%;
    height: 50px;
    
    border: 2px solid #DADADA;
    border-radius: 0px;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;

    font-size: 11pt; /*the same as the body font sizing(?)*/
    font-weight: 400;
    color: #5c5c5c;
}

.label-styling{
    margin-top: 20px; /*This separates the field labels from the rest of the content*/

    font-weight: 400;
    font-size: 11pt;
    color: #5c5c5c;
    letter-spacing: 0;
}



/*NEW Field Styling with Toggle*/
.password-container{
    width: 100%;
    position: relative;
}

#password{
    width: 100%;
    height: 50px;
    
    border: 2px solid #DADADA;
    border-radius: 0px;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;

    font-size: 11pt; /*the same as the body font sizing(?)*/
    font-weight: 400;
    color: #5c5c5c;
}

#icon{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 40%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}
/*=============================*/



.desktop-button-row{
    padding: 30px 0px 40px 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.submit-button{
    color: white;
    border: none;
    background-color: #C3002F;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin-top: 0px;
    width: 100%;
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: block;
}

.cancel-button{
    color: white;
    border: none;
    background-color: #343434;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin-top: 0px;
    width: 100%;
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: inline-block;
}

.submit-carrot{
    padding-left: auto;
    float: right;

    font-size:15pt;
    font-weight: 800;
}

.cancel-link{
    padding-top: 20px;
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 13pt;
    color: #5c5c5c;
    letter-spacing: 0;
    text-decoration: underline;
    display: none;
}


.FAQ-flavortext{
    padding-left: 165px; /*controls alignment on left side*/
    padding-right: 96px;
}

.FAQ-link{
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 13pt;
    color: #5c5c5c;
    letter-spacing: 0;
    text-decoration: underline;
    display: block;
}
/*===== ========= =====*/

/*===== Footer =====*/
.bottom-bar{
    padding: 30px 0px 30px 0px;
    background-color:#343434;
    z-index: 50;
    display: block;
}

.bottom-bar-row{
    padding: 0px 165px 0px 165px; /*This is to align the ROW of link-columns on desktop*/
    margin: 0px 0px 0px 0px; /*This is necessary to REMOVE the default negative margin that was screwing with the alignment on the left*/
}

.bottom-bar-column{
    padding: 0px;
    margin: 0px;
    min-width: fit-content; /*This keeps the columns fitting to the links content width*/
}

.footer-link-style{
    padding: 0px 30px 0px 0px;
    margin: 0px;
    font-weight: 300;
    font-size: 11pt;
    white-space: nowrap;
    color: #EEEEEE;
    letter-spacing: 0;

    text-decoration: underline;
}

.footer-copyright-desktop{
    padding: 0px;
    font-weight: 400;
    font-size: 11pt;
    white-space: nowrap;
    color: #EEEEEE;
    letter-spacing: 0;
    text-align: end;
}


.footer-copyright-mobile{
    /*This is not shown on the desktop view*/
    font-weight: 400;
    font-size: 11pt;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: #EEEEEE;
    letter-spacing: 0;
    max-width: fit-content;
    display: none;
    white-space: nowrap;
}
/*===== ========== =====*/



/*===========================================*/
/*===========================================*/





/*===== Bootstrap 5 breakpoints =====*/
/*These go DOWN, i.e. they apply to the specific query and ALL LOWER screen sizes!*/
/*(xs breakpoint) X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    
/*===== Bootstrap Alternatives =====*/
.header{
    padding: 0px;
    margin: 0px;
}

.header-row{
    padding: 10px 0px 10px 0px; /*Adding some vertical padding to the row to help with styling*/
}
/*===== ========== =====*/

    /*===== Nissan Styling - MOBILE =====*/
    h3{
        font-weight: 300;
        font-size: 28pt;
        color:#3472e5;
        letter-spacing: 0;
        
        /*justify left,  can "inline" white color per element*/
    }
    
    h5{
        font-weight: 300;
        font-size: 16pt;
        color:#3472e5;
        letter-spacing: 0;
        
        /*justify left, can "inline" white color per element*/
    }
    
    h6{
        font-weight: 300;
        font-size: 14pt;
        color:#3472e5;
        letter-spacing: 0;
        
        /*justify left, can "inline" white color per element*/
    }

.bodyGrey_1{
    font-weight: regular;
    font-size: 11pt;
    color: #5c5c5c;
    letter-spacing: 0;
    line-height: 1.5;
    /*justify left or centered, paragraph spacing is 10(px?), leading */
}

.bodyRed_1{
    font-weight: regular;
    font-size: 11pt;
    color: #C3002F;
    letter-spacing: 0;
    line-height: 1.5;
    
    /*justify left or centered, paragraph spacing is 10(px?), leading */
}

.passCriteria{
    padding-left: 40px;
}

.textLink{
    font-weight: regular;
    font-size: 14pt;
    color: #343434;
    letter-spacing: 0;
    /*"leading"/line-spacing is 17(?)*/
}

/*===== Nissan Logo =====*/
.logo{
    margin: 0px;
    padding-right: 0px;
    background-image: url("assets/IconBG_49x40.png");

    /*At 60% size of the desktop variant*/
    width: 49px;
    height: 40px;

}
.logo_spacer{
    padding: 0px;
    margin: 0px;
    width: 15px;
}
/*===== ========== =====*/

/*===== Vertical Border + "Title"*/
.title-styling{
    margin: 0px;
    padding: 0px;
    padding-top: 12px; /*This has to be set manually based on *logo height* as largest reference relative to text size, to center the title - somehow flex-wrap was interfering with "align-items: center"*/

    font-size: 16px;
    font-weight: 300;
}

.divider{
    margin-left: 15px;
    padding-left: 15px;
    border-left: solid 2px white;
    height: 40px;
    width: auto;
}
/*===== ========== =====*/

/*===== Main Content Alignment (DESKTOP) =====*/
.main-content-row-alignment{
    margin-left: 0px; /*For alignment on the left hand side for the "card"*/
    margin-right: 0px;
}
/*===== ========== =====*/

/*===== Card Styling =====*/
.card-column-gutters{
    padding: 0px 0px 0px 0px; /*This controls the spacing of the "visual" card on left and right in mobile view*/
}

.card-styling{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-mobile-center{
    justify-content: center;
}

.card-content-align{
    padding-left: 20px;
    padding-right: 20px;
}

.nissanid_branding{
    margin-top: 40px;
    width: 87px;
    height: 7px;
    
    background-image: url("assets/Branding_83x7.png");
}

.nissanid_branding_undercard{
    /*Remember to match the width & height to the actual asset dimensions!*/
    margin-top: 30px;
    margin-bottom: 20px;
    width: 87px;
    height: 7px;
    
    background-image: url("assets/Branding_83x7.png");
}

.field-styling{
    /*total height of element is roughly 35px*/
    width: 100%;
    height: 50px;
    
    border: 2px solid #DADADA;
    border-radius: 0px;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;

    font-size: 11pt; /*the same as the body font sizing(?)*/
    font-weight: 400;
    color: #5c5c5c;
}

.label-styling{
    margin-top: 20px; /*This separates the field labels from the rest of the content*/

    font-weight: 400;
    font-size: 11pt;
    color: #5c5c5c;
    letter-spacing: 0;
}

.submit-button{
    color: white;
    border: none;
    background-color: #C3002F;
    padding: 1.5rem 2.5rem;
    margin-top: 30px;
    width: 60%;
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: block;
}

.submit-carrot{
    text-align: right;
    margin: 0px;
    
    font-size: 15pt;
    font-weight: 800;
    display: inline-block;
}

.cancel-button{
    color: white;
    border: none;
    background-color: #343434;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin-top: 0px;
    width: 100%;
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: none;
}

.button-spacer-column{
    /*These are the columns to provide padding between the two buttons in the same row - not needed in mobile view*/
    display: none;
}

.cancel-button-column{
    /*this removes the column which will be empty since the button will also NOT be displayed*/
    display: none;
}

.cancel-link{
    padding-top: 20px;
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 13pt;
    color: #5c5c5c;
    letter-spacing: 0;
    text-decoration: underline;
    display: block;
}

.FAQ-flavortext{
    padding-left: 15px; /*controls alignment on left side*/
}

.FAQ-link{
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 13pt;
    color: #5c5c5c;
    letter-spacing: 0;
    text-decoration: underline;
    display: block;
}


/*===== ========= =====*/

/*===== Footer =====*/
.bottom-bar{
    padding: 25px 20px 10px 20px;
    background-color:#343434;
}

.bottom-bar-row{
    padding: 0px 0px 0px 0px; /*This is to align the ROW of link-columns on desktop*/
    margin: 0px 0px 0px 0px; /*This is necessary to REMOVE the default negative margin that was screwing with the alignment on the left*/
}

.bottom-bar-column{
    padding: 6px;
    text-align: center;
    max-width: fit-content;
    
}

.footer-link-style{
    padding: 0px;
    margin: 0px;

    text-align: center;
    white-space: nowrap;
    font-weight: 300;
    font-size: 11pt;
    color: #EEEEEE;
    letter-spacing: 0;
    text-decoration: underline;
}

.footer-copyright-desktop{
    font-weight: 400;
    font-size: 11pt;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: #EEEEEE;
    letter-spacing: 0;
    max-width: fit-content;
    display: none;
    white-space: nowrap;
}


.footer-copyright-mobile{
    /*This is not shown on the desktop view*/
    font-weight: 400;
    font-size: 11pt;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: #EEEEEE;
    letter-spacing: 0;
    max-width: fit-content;
    display: inline-flex;
    white-space: nowrap;
}
/*===== END OF @MEDIA =====*/
 }

/*=============================================================================================================*/
/* MOBILE-PHONE BREAKPOINT                                                                                     */
/*=============================================================================================================*/
/*(sm breakpoint)  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 576px){ 

/*===== Bootstrap Alternatives =====*/
.header{
    padding: 0px;
    margin: 0px;
}

.header-row{
    padding: 10px 0px 10px 0px; /*Adding some vertical padding to the row to help with styling*/
}
/*===== ========== =====*/

    /*===== Nissan Styling - MOBILE =====*/
    h3{
        font-weight: 300;
        font-size: 28pt;
        color:#3472e5;
        letter-spacing: 0;
        
        /*justify left,  can "inline" white color per element*/
    }
    
    h5{
        font-weight: 300;
        font-size: 16pt;
        color:#3472e5;
        letter-spacing: 0;
        
        /*justify left, can "inline" white color per element*/
    }
    
    h6{
        font-weight: 300;
        font-size: 14pt;
        color:#3472e5;
        letter-spacing: 0;
        
        /*justify left, can "inline" white color per element*/
    }

.bodyGrey_1{
    font-weight: regular;
    font-size: 11pt;
    color: #5c5c5c;
    letter-spacing: 0;
    line-height: 1.5;
    /*justify left or centered, paragraph spacing is 10(px?), leading */
}

.bodyRed_1{
    font-weight: regular;
    font-size: 11pt;
    color: #C3002F;
    letter-spacing: 0;
    line-height: 1.5;
    
    /*justify left or centered, paragraph spacing is 10(px?), leading */
}

.passCriteria{
    padding-left: 40px;
}

.textLink{
    font-weight: regular;
    font-size: 14pt;
    color: #343434;
    letter-spacing: 0;
    /*"leading"/line-spacing is 17(?)*/
}

/*===== Nissan Logo =====*/
.logo{
    margin: 0px;
    padding-right: 0px;
    background-image: url("assets/IconBG_49x40.png");

    /*At 60% size of the desktop variant*/
    width: 49px;
    height: 40px;

}
.logo_spacer{
    padding: 0px;
    margin: 0px;
    width: 15px;
}
/*===== ========== =====*/

/*===== Vertical Border + "Title"*/
.title-styling{
    margin: 0px;
    padding: 0px;
    padding-top: 12px; /*This has to be set manually based on *logo height* as largest reference relative to text size, to center the title - somehow flex-wrap was interfering with "align-items: center"*/

    font-size: 16px;
    font-weight: 300;
}

.divider{
    margin-left: 15px;
    padding-left: 15px;
    border-left: solid 2px white;
    height: 40px;
    width: auto;
}
/*===== ========== =====*/

/*===== Main Content Alignment (DESKTOP) =====*/
.main-content-row-alignment{
    margin-left: 0px; /*For alignment on the left hand side for the "card"*/
    margin-right: 0px;
}
/*===== ========== =====*/

/*===== Card Styling =====*/
.card-column-gutters{
    padding: 0px 0px 0px 0px; /*This controls the spacing of the "visual" card on left and right in mobile view*/
}

.card-styling{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-mobile-center{
    justify-content: center;
}

.card-content-align{
    padding-left: 20px;
    padding-right: 20px;
}

.nissanid_branding{
    margin-top: 40px;
    width: 87px;
    height: 7px;
    
    background-image: url("assets/Branding_83x7.png");
}

.nissanid_branding_undercard{
    /*Remember to match the width & height to the actual asset dimensions!*/
    margin-top: 30px;
    margin-bottom: 20px;
    width: 87px;
    height: 7px;
    
    background-image: url("assets/Branding_83x7.png");
}

.field-styling{
    /*total height of element is roughly 35px*/
    width: 100%;
    height: 50px;
    
    border: 2px solid #DADADA;
    border-radius: 0px;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;

    font-size: 11pt; /*the same as the body font sizing(?)*/
    font-weight: 400;
    color: #5c5c5c;
}

.label-styling{
    margin-top: 20px; /*This separates the field labels from the rest of the content*/

    font-weight: 400;
    font-size: 11pt;
    color: #5c5c5c;
    letter-spacing: 0;
}

.submit-button{
    color: white;
    border: none;
    background-color: #C3002F;
    padding: 1.5rem 2.5rem;
    margin-top: 30px;
    width: 60%;
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: block;
}

.submit-carrot{
    text-align: right;
    margin: 0px;
    
    font-size: 15pt;
    font-weight: 800;
    display: inline-block;
}

.cancel-button{
    color: white;
    border: none;
    background-color: #343434;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin-top: 0px;
    width: 100%;
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: none;
}

.button-spacer-column{
    /*These are the columns to provide padding between the two buttons in the same row - not needed in mobile view*/
    display: none;
}

.cancel-button-column{
    /*this removes the column which will be empty since the button will also NOT be displayed*/
    display: none;
}

.cancel-link{
    padding-top: 20px;
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 13pt;
    color: #5c5c5c;
    letter-spacing: 0;
    text-decoration: underline;
    display: block;
}

.FAQ-flavortext{
    padding-left: 15px; /*controls alignment on left side*/
}

.FAQ-link{
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 13pt;
    color: #5c5c5c;
    letter-spacing: 0;
    text-decoration: underline;
    display: block;
}


/*===== ========= =====*/

/*===== Footer =====*/
.bottom-bar{
    padding: 25px 20px 10px 20px;
    background-color:#343434;
}

.bottom-bar-row{
    padding: 0px 0px 0px 0px; /*This is to align the ROW of link-columns on desktop*/
    margin: 0px 0px 0px 0px; /*This is necessary to REMOVE the default negative margin that was screwing with the alignment on the left*/
}

.bottom-bar-column{
    padding: 6px;
    text-align: center;
    max-width: fit-content;
    
}

.footer-link-style{
    padding: 0px;
    margin: 0px;

    text-align: center;
    white-space: nowrap;
    font-weight: 300;
    font-size: 11pt;
    color: #EEEEEE;
    letter-spacing: 0;
    text-decoration: underline;
}

.footer-copyright-desktop{
    font-weight: 400;
    font-size: 11pt;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: #EEEEEE;
    letter-spacing: 0;
    max-width: fit-content;
    display: none;
    white-space: nowrap;
}


.footer-copyright-mobile{
    /*This is not shown on the desktop view*/
    font-weight: 400;
    font-size: 11pt;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: #EEEEEE;
    letter-spacing: 0;
    max-width: fit-content;
    display: inline-flex;
    white-space: nowrap;
}
/*===== END OF @MEDIA =====*/
}


/*=============================================================================================================*/
/* TABLET BREAKPOINT                                                                                           */
/*=============================================================================================================*/
/*(md breakpoint)  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 768px) { 
    /*===== Bootstrap Alternatives =====*/
.header{
    padding: 0px;
    margin: 0px;
}

.header-row{
    padding: 10px 0px 10px 0px; /*Adding some vertical padding to the row to help with styling*/
}
/*===== ========== =====*/

    /*===== Nissan Styling - MOBILE =====*/
    h3{
        font-weight: 300;
        font-size: 28pt;
        color:#3472e5;
        letter-spacing: 0;
        
        /*justify left,  can "inline" white color per element*/
    }
    
    h5{
        font-weight: 300;
        font-size: 16pt;
        color:#3472e5;
        letter-spacing: 0;
        
        /*justify left, can "inline" white color per element*/
    }
    
    h6{
        font-weight: 300;
        font-size: 14pt;
        color:#3472e5;
        letter-spacing: 0;
        
        /*justify left, can "inline" white color per element*/
    }

.bodyGrey_1{
    font-weight: regular;
    font-size: 11pt;
    color: #5c5c5c;
    letter-spacing: 0;
    line-height: 1.5;
    /*justify left or centered, paragraph spacing is 10(px?), leading */
}

.bodyRed_1{
    font-weight: regular;
    font-size: 11pt;
    color: #C3002F;
    letter-spacing: 0;
    line-height: 1.5;
    
    /*justify left or centered, paragraph spacing is 10(px?), leading */
}

.passCriteria{
    padding-left: 40px;
}

.textLink{
    font-weight: regular;
    font-size: 14pt;
    color: #343434;
    letter-spacing: 0;
    /*"leading"/line-spacing is 17(?)*/
}

/*===== Nissan Logo =====*/
.logo{
    margin: 0px;
    padding-right: 0px;
    background-image: url("assets/IconBG_81x67.png");

    /*At 60% size of the desktop variant*/
    width: 81px;
    height: 67px;

}
.logo_spacer{
    padding: 0px;
    margin: 0px;
    width: 15px;
}
/*===== ========== =====*/

/*===== Vertical Border + "Title"*/
.title-styling{
    margin: 0px;
    padding: 0px;
    padding-top: 25px; /*This has to be set manually based on *logo height* as largest reference relative to text size, to center the title - somehow flex-wrap was interfering with "align-items: center"*/

    font-size: 17px;
    font-weight: 400;
}

.divider{
    margin-left: 20px;
    padding-left: 20px;
    border-left: solid 2px white;
    height: 67px;
    width: auto;
}
/*===== ========== =====*/

/*===== Main Content Alignment (DESKTOP) =====*/
.main-content-row-alignment{
    margin-left: 0px; /*For alignment on the left hand side for the "card"*/
    margin-right: 0px;
}
/*===== ========== =====*/

/*===== Card Styling =====*/
.card-column-gutters{
    padding: 0px 81px 0px 81px; /*This controls the spacing of the "visual" card on left and right in mobile view*/
}

.card-styling{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-mobile-center{
    justify-content: center;
}

.card-content-align{
    padding-left: 20px;
    padding-right: 20px;
}

.nissanid_branding{
    margin-top: 40px;
    width: 87px;
    height: 7px;
    
    background-image: url("assets/Branding_83x7.png");
}

.nissanid_branding_undercard{
    /*Remember to match the width & height to the actual asset dimensions!*/
    margin-top: 30px;
    margin-bottom: 20px;
    width: 87px;
    height: 7px;
    
    background-image: url("assets/Branding_83x7.png");
}

.field-styling{
    /*total height of element is roughly 35px*/
    width: 100%;
    height: 50px;
    
    border: 2px solid #DADADA;
    border-radius: 0px;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;

    font-size: 11pt; /*the same as the body font sizing(?)*/
    font-weight: 400;
    color: #5c5c5c;
}

.label-styling{
    margin-top: 20px; /*This separates the field labels from the rest of the content*/

    font-weight: 400;
    font-size: 11pt;
    color: #5c5c5c;
    letter-spacing: 0;
}

.desktop-button-row{
    padding: 30px 0px 40px 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.submit-button{
    color: white;
    border: none;
    background-color: #C3002F;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin-top: 0px;
    width: 100%;
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: block;
}

.submit-carrot{
    text-align: right;
    margin: 0px;
    
    font-size: 15pt;
    font-weight: 800;
    display: inline-block;
}

.cancel-button{
    color: white;
    border: none;
    background-color: #343434;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin-top: 0px;
    width: 100%;
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: inline-block;
}

/*"Display: none; not needed here - they show by default*/
/*.button-spacer-column{}*/
/*.cancel-button-column{}*/

.cancel-link{
    padding-top: 20px;
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 13pt;
    color: #5c5c5c;
    letter-spacing: 0;
    text-decoration: underline;
    display: none;
}

.FAQ-flavortext{
    padding-left: 96px; /*controls undercard alignment on left/right sides*/
    padding-right: 96px;
}

.FAQ-link{
    padding-bottom: 80px; /*This controls the spacing of the footer form the last element under the card*/

    font-weight: 400;
    font-size: 13pt;
    color: #5c5c5c;
    letter-spacing: 0;
    text-decoration: underline;
    display: block;
}


/*===== ========= =====*/

/*===== Footer =====*/
.bottom-bar{
    padding: 35px 0px 35px 0px;
    background-color:#343434;
}

.bottom-bar-row{
    padding: 0px 15px 0px 15px; /*This is to align the ROW of link-columns on desktop*/
    margin: 0px 0px 0px 0px; /*This is necessary to REMOVE the default negative margin that was screwing with the alignment on the left*/
}

.bottom-bar-column{
    padding: 0px;
    margin: 0px;
    min-width: fit-content; /*This keeps the columns fitting to the links content width*/
}

.footer-link-style{
    padding: 0px 30px 0px 0px;
    margin: 0px;
    font-weight: 300;
    font-size: 11pt;
    white-space: nowrap;
    color: #EEEEEE;
    letter-spacing: 0;

    text-decoration: underline;
}

.footer-copyright-desktop{
    padding: 0px;
    font-weight: 400;
    font-size: 11pt;
    white-space: nowrap;
    color: #EEEEEE;
    letter-spacing: 0;
    text-align: end;
}


.footer-copyright-mobile{
    /*This is not shown on the desktop view*/
    font-weight: 400;
    font-size: 11pt;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: #EEEEEE;
    letter-spacing: 0;
    max-width: fit-content;
    display: none;
    white-space: nowrap;
}
/*===== ========== =====*/
/*===== END OF @MEDIA =====*/
 }

/*(lg breakpoint)  Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/*(xl breakpoint)  X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

 }

/*(xxl breakpoint)  XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */
/*===== ========== =====*/





/* ===== Color Palette ===== */
#CompColors{
    color: #C3002F;
    color: #000000;
    color: #343434;
    color: #EEEEEE;
    color: #FFFFFF;
}

#dOnOtUsE_TESTING{
    color: #B5F44A;
    color: #FBF9FF;
    color: #5AB1BB;
    color: #3A506B;
    color: #0B132B;

    /*Ikazuchi Yellow*/
    color:#eade5f;
    /*Bayside Blue*/
    color: #3472e5;
}
/* ===== ========== ===== */